/* Smooth popup animation */
@keyframes scorePopup {
  0% { transform: translateY(-20px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}
.animate-scorePopup {
  animation: scorePopup 0.5s ease-out forwards;
}

/* Glow + scale effect for selects and inputs */
.animated-input {
  background: #131a33;
  color: #AFB2BF;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #1d2540;
  transition: all 0.25s ease;
}

.animated-input:hover {
  transform: scale(1.02);
  box-shadow: 0 0 12px #316782;
}

.animated-input:focus {
  transform: scale(1.03);
  box-shadow: 0 0 15px #FFD60A;
  border-color: #FFD60A;
  outline: none;
}

/* For radio + checkbox */
.focus-glow:focus {
  outline: 2px solid #FFD60A;
  box-shadow: 0 0 8px #FFD60A;
  border-radius: 4px;
}


button {
  background-color: #FFD60A !important;
  color: #000000 !important;
}
